<h1>Daily Measurements</h1>
<div class="left-panel" style="float: left">
  <div id="datepicker"></div>
</div>
<div class="right-panel">
  <div class="meters-info">
    <%= render @meters %>
  </div>
</div>
